distopia/resources/animations/animation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="animation">
		<xs:complexType>
			<xs:sequence>

	   <xs:element name="loops" type="xs:string" />

    <xs:element name="frame" minOccurs="1" maxOccurs="unbounded">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="imageName" type="xs:string" />
       <xs:element name="percentage" type="xs:string" />
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
